<% @post.comments.each do |c| %>
  <p>
    <b><%=h c.author %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %> ago
  </p>

  <p>
    <%=h c.body %>
  </p>
<% end %>

<% form_for [@post, Comment.new] do |f| %>
