#heading {
    font-size: 40px;
    font-weight: bold;
    color: red;
    padding-top: 15px;
}

#post_title{
    padding-top: 30px;
    font-size: 20px;
}

#post_links a{
    text-decoration: none;
    font-size: 13px;
}

#post_links a:hover{
    background-color: white;
    color: black;
}

a:hover.new_post_link{
    background-color: white;
    color: black;
}
a.new_post_link{
    text-decoration: none;
    right: 10;
    font-size: 20px;
}
.heading_position_relative{
    position: relative;
}

.position_new_post_absolute{
    position: absolute;
    right: 15px;
}