<% form_for :rating, :url => ratings_path, :method => :post, :html => {:id => "rate_post_form"} do |f| %>
<div id="post_rating_<%= post.id %>" class="editable_rating">
 
  <% (1..5).each do |rating| %>
	<% if post.rating == rating %>
	<%= f.radio_button "no_of_stars", rating, :value => true, :class => 'star' %>
	<% else %>
	<%= f.radio_button "no_of_stars", rating, :value => false, :class => 'star' %>
	<% end %>
	<% end -%>
	<input type="hidden"  name="post_id" value="<%= post.id  %>" />
</div>
<% end -%>
