<% form_tag '/ratings', :method => :post, :id => "rate_post_form" do %>
<div id="post_rating_<%= post.id %>" class="editable_rating">
 
  <% (1..5).each do |rating| %>
	<% if post.rating == rating %>
	<%= radio_button_tag "rating", rating, true, :class => 'star' %>
	<% else %>
	<%= radio_button_tag "rating", rating, false, :class => 'star' %>
	<% end %>
	<% end -%>
	<input type="hidden"  name="post_id" value="<%= post.id  %>" />
</div>
<% end -%>
